{% extends 'blog/base.html' %}

{% block content %}
<h1 class = "blog-title">Check out These blogs:</h2>
{% for post in posts %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <div class="commentreplies">
        <p class="blog-post-title title" id="listings"><a  href="{% url 'post_detail' pk=post.pk %}">{{ post.Title }}</a></p>
        {% if post.Subtitle %}
                <p class="blog-post-meta title" id="listings">{{ post.Subtitle|linebreaksbr }}</p>
        {% endif %}
        {% if post.Title_image %}
                <img src="{{ post.Title_image.url }}" alt="{{ post.Title_image.name }}" class="img-responsive mainimage">
        {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>

  {% endfor %}


  <!-- Upload form. Note enctype attribute! -->
{% endblock %}
